<div class="container">
  <div class="greeting">
    <%= image_tag 'logo.png', class: "greeting__image" %>
    <div class="greeting__message">
      <h2><%= current_user.user_name %>さんの通帳です</h2>
    </div>
  </div>


  <div class="passbook-container">
    <div class="cssbk">
      <label>
        <input type="checkbox" />
        <span class="front top-page" style="z-index: 1000;">
          <div>
            <div class="text-area">
              <h5><%= current_user.user_name %>  様</h5>
              <h6>作成日: <%= current_user.created_at.to_s[0...10] %></h6>
            </div>
          </div>
        </span>
        <span class="back">
          <% @books_for_first_page.each do |book| %>
            <div class="column">
              <div class="title-and-date">
                <p class="date"><%= book.updated_at.to_s[0...10] %></p>
                <p class="title"><%= book.title %></p>
              </div>
              <p class="price"><%= number_with_delimiter(book.price) %></p>
            </div>
          <% end %>
        </span>
      </label>

      <% @second_books.each_with_index do |devided_books, index| %>
        <%= react_component("molecules/passbooks/PassBookPage", {devidedBooks: devided_books, zIndex: index}) %>
      <% end %>




      <label>
        <input type="checkbox" disabled/>
        <span class="front" style="z-index: 98;"></span>
        <span class="back"></span>
      </label>

    </div>
  </div>

</div>
